@import "../../App.scss";

.header{
    width:100%;
    height: 385px;
    background: $background-color url("../../image/image\ 15.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media only screen and (max-width:991px){
    header{
        position: relative;
        top: 100px;
    }
}